
body{
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
	}

h1{
    padding: 10;
	background-image: url(https://goo.gl/VcBqhN);
}

h2{
    margin-top: 30;
	border-bottom: 2px groove #333333;
}

figure{
	background-color: #f2eded;
	border: 1px solid #ccc;
	text-align: center;
    padding: 15;
    margin: 30;
}

figcaption{
    margin-top: 10;
	font-style: italic
}

p{
  padding: 0 45;
  margin-top: 10;
}
